@media screen and (min-width: 1900px) {
  .sixth-section {
    height: 740px;
  }
}
@media screen and (max-width: 1620px) {
  .sixth-section {
    height: 700px;
  }
  .seventh-section-text {
    width: 80%;
  }
}
@media screen and (max-width: 1400px) {
  .sixth-section {
    height: 600px;
  }
}
@media screen and (max-width: 1220px) {
  .sixth-section {
    height: 550px;
  }
  .third-section {
    width: 90%;
  }
}
@media screen and (max-width: 1199px) {
  .sixth-section-a {
    height: 300px;
  }
  .sixth-section-b {
    height: 550px;
    margin-left: 8.333333%;
    margin-bottom: 30px;
  }
  .fifth-section-text {
    margin-left: 8.333333%;
  }
  .sixth-section-text {
    width: 90%;
  }
  .part {
    width: 70%;
  }
  .media-links {
    height: 600px;
  }
}
@media screen and (max-width: 991px) {
  #logo {
    padding: 20px 0px;
  }
  .hamburger {
    padding-top: 10px;
  }
  .navbar-nav {
    padding-left: 40px;
  }
  .menu-element {
    padding: 10px 0px 10px 10px;
  }
  .sm-icon {
    padding: 20px 8px;
  }
}
@media screen and (max-width: 960px) {
  .first-section {
    height: 600px;
  }
  .first-section-text {
    width: 60%;
  }
  .two-circles {
    width: 250px;
  }
  .section-text {
    width: 90%;
  }
}
